body {
    font-family: Arial, Helvetica, sans-serif;
}
* {margin: 0; padding: 0;}
header {
    background-color: #0094D5E3;
}
header section {
    display: inline-block;
    color: white;
    font-size: 20px;
    vertical-align: middle;
    padding: 20px;
}
#JWS-logo {
    float: left;
}
#motto {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);  
}
#contact {
    float: right;
}
#LinkedIn-logo {
    width: 30px;
    height: 30px;
}
#menu {
    font-size: 110%;
    font-weight: bold;
    background-color: lightgrey;
}
#menu li {
    display: inline-block;
    padding: 7px 0px;
    margin-left: 250px;
    list-style-type: none;
}
#menu a {
    text-decoration: none;
    color: black;
}
#menu a:hover {
    border-bottom: 2px solid black;
}
.active {
    border-bottom: 2px solid black;
}
.about {
    background-color: #10242b;
    padding-bottom: 20px;
}
.about section {
    color: white;
    padding-top: 50px;
    padding-bottom: 90px;
    font-weight: bold;
}
#industries {
    padding-bottom: 5px;
    text-decoration: underline white;
}
#products {
    padding-bottom: 5px;
    text-decoration: underline white;
}
#Multiple-Industries2 {
    width: 575px;
    height: 275px;
}
#Multiple-Industries {
    width: 575px;
    height: 275px;
}
footer {
    background-color: lightgrey;
    font-weight: bold;
}
footer section {
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
    
}
#head {
    float: left;
    padding-left: 5px;
}
#other {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);  
}
#jwsblacklogo {
    float: right;
    padding-right: 20px;
}    
#JWS-Logo2 {
    width: 55px;
    height: 30px;
    float: right;
}
#Copyright {
    width: 15px;
    height: 15px;
}