body {
    font-family: Arial, Helvetica, sans-serif;
}
* {margin: 0; padding: 0;}

/*----- Header */

header {
    background-color: #0094D5E3;
}
header section {
    display: inline-block;
    color: white;
    vertical-align: middle;
    padding: 20px;
}
#JWS-logo {
    float: left;
}
#motto {
    text-align: center;
    text-transform: uppercase;  
    font-size: 20px;
}

/*----- Nav Bar */

.menu {
    font-size: 110%;
    font-weight: bold;
    background-color: lightgrey;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
.menu li {
    display: inline;
    padding: 45px;
}
.menu a {
    text-decoration: none;
    color: black;
    display: inline-block;
}
.menu a:hover {
    border-bottom: 2px solid black;
}

/*----- About section */

.about {
    background-color: #10242b;
    padding-bottom: 20px;
}
.about section {
    padding-top: 50px;
    padding-bottom: 90px;
    color: lightgrey;
}
.about section h3 {
    text-decoration: underline;
    padding-left: 10px;
}
.about section ul {
    padding-left: 25px;
}

#Quarry {
    width: 100%
}
.about h2 {
    color: lightgrey;
    text-align: center;
}

/*----- Footer section */

footer {
    font-weight: bold;
}
footer section {
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
}
#location {
    float: left;
    padding-left: 5px;
}
#jwsblacklogo {
    float: right;
    padding-right: 10px;
}    
#JWS-Logo2 {
    width: 55px;
    height: 30px;
    float: right;
}
#Copyright {
    width: 15px;
    height: 15px;
}

/*----- Support section */

.aftersales {
    padding-top: 30px;
    height: 720px;
}
#implementation {
    padding-top: 20px;
    padding-bottom: 17px;
    width: 33%;
    float: left;
    background-color: #10242b;
    color: lightgrey;
}
#support {
    padding-top: 20px;
    width: 33%;
    float: right;
    background-color: #10242b;
    color: lightgrey;
}
#indicator {
    width: 33%;
    margin: 0 auto;
}
#Repair {
    width: 100%;
    height: 100%;
}
#implementation-list {
    padding-left: 20px;
}
#support-list {
    padding-left: 20px;
}

/*----- Software section */

.soft-software {
    padding-bottom: 30px;
    height: 800px
}  
#soft-distilleries {
    padding-top: 20px;
    padding-bottom: 17px;
    width: 20%;
    float: left;
    background-color: #10242b;
    color: lightgrey;
}
#soft-distilleries-list {
    padding-left: 20px;
}
#soft-quarries {
    width: 20%;
    float: left;
    padding-top: 20px;
    padding-bottom: 17px;
    background-color: lightgrey;
    color: #10242b;
}
#soft-quarries-list {
    padding-left: 20px;
}
#soft-waste {
    width: 20%;
    float: left;
    padding-top: 20px;
    padding-bottom: 17px;
    background-color: #10242b;
    color: lightgrey;
}
#soft-waste-list {
    padding-left: 20px;
}
#soft-transport {
    width: 20%;
    float: left;
    padding-top: 20px;
    padding-bottom: 17px;
    background-color: lightgrey;
    color: #10242b;
}
#soft-transport-list {
    padding-left: 20px;
}
#soft-manufacturing {
    padding-top: 20px;
    padding-bottom: 17px;
    width: 20%;
    float: left;
    background-color: #10242b;
    color: lightgrey;
}
#soft-manufacturing-list {
    padding-left: 20px;
}
#Control-System {
    width: 100%;
    height: 250px;
}

/*----- Contact section */

.form-section {
    background: url("https://www.johnwhiteandson.com/wp-content/uploads/2021/09/Checkweigher-Header.jpg");
    background-size: cover;
    background-position: center;
    height: 900px;
    color: white;
    padding-left: 10px;
    font-weight: bold;
    font-size: 30px;
}
#contact {
    float: left;
    font-size: 30px;
    vertical-align: middle;
}
#LinkedIn-logo {
    width: 30px;
    height: 30px;
}

/*----- Device compatability section */

@media screen and (max-width: 1200px) {
.aftersales {
    height: 1200px;
    margin: 0 auto;
    padding-top: 0;
}
#implementation {
    clear: both;
    width: 100%;
}
#indicator {
    clear: both;
    width: 100%;
}
#support {
    clear: both;
    width: 100%;
}
.soft-software {
    height: 1200px;
    margin: 0 auto;
}
#soft-distilleries {
    clear: both;
    width: 100%;
}
#soft-quarries {
    clear: both;
    width: 100%;
}   
#soft-waste {
    clear: both;
    width: 100%;
}
#soft-transport {
    clear: both;
    width: 100%;
}
#soft-manufacturing {
    clear: both;
    width: 100%;
}
#Control-System {
    display: none;
}
}